<!DOCTYPE=html>
<HTML lang='en'>
<HEAD>
	<TITLE>Shasta Outdoor</TITLE>
	<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static',filename='assets/favicon-32x32.png') }}">
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">

</HEAD>
<BODY onload='embedQueryArgs()'>
 	<NAV>
 		<A HREF='/'>HOME</A>
 		<A HREF='/about'>ABOUT</A>
 	</NAV>
<br>
	<HEADER>
		<H1>Shasta Outdoor</H1>
	</HEADER>

{% block body %}
{% endblock %}
	<footer>
		<div class='foot-menu'>
			<UL>
				<LI>SUPPORT</LI>
				<LI>How to Order?</LI>
				<LI>Payments</LI>
				<LI>Assistance</LI>
				<LI>Delivery</LI>
			</UL>
			<UL>
				<LI>ABOUT US</LI>
				<LI>About Shop</LI>
				<LI>Promotions</LI>
				<LI>Discount Cards</LI>
				<LI>Pro Shop</LI>
			</UL>
			<UL>
				<LI>DUTIES</LI>
				<LI>Terms and Conditions</LI>
				<LI>Shop Policy</LI>
				<LI>Contact Us</LI>
			</UL>
		</div>
		<div class='social'>
			facebook twitter google plus youtube flickr behance dribble instagram rss
		</div>
		<div class='contact'>
			<h4>OUR PHONES:</h4>
				<a href=tel:"1-800-555-1234">800 555 1234</a> / 
				<a href=tel:"1-541-555-1234">541 555 1234</a>
		</div>
		<div class='footlogo'>
		</div>
	</footer>
</html>
<script type="text/javascript">
	function embedQueryArgs(){
		var query = window.location.search.substring(1);
    	var vars = query.split("&");
    	for (var i=0;i<vars.length;i++) {
    		var pair = vars[i].split("=");
    		document.getElementById(pair[0]).innerHTML=pair[1].split("%20").join(" ");
    	}
	}
</script>
{% block script %}
{% endblock %}