{% extends 'partials/common.html' %}
{% block body %}
	<div class='pagetitle'>
		<H2>Military Verification</H2>
		All fields are required
	</div>
    <div class="error-container"> </div>

	<div class='inputform'>
		<FORM action="{{ url_for('form_submit') }}" method="post" name="studentVerify">
			Select your enlistment status<BR>
			<label class='radioButton'><input type="radio" name='AFFILIATION' value='ACTIVE_DUTY' checked="checked" required>Active Duty</label>
			<label class='radioButton'><input type="radio" name='AFFILIATION' value='RESERVIST'>Reservist</label>
			<label class='radioButton'><input type="radio" name='AFFILIATION' value='MILITARY_RETIREE'>Retiree</label>
			<label class='radioButton'><input type="radio" name='AFFILIATION' value='VETERAN'>Veteran</label>
			<label class='radioButton'><input type="radio" name='AFFILIATION' value='CIVILIAN_EMPLOYEE'>Civilian Employee</label><BR>
			Service Branch<BR>
			<input type="text" name="organizationId" id="myOrgId" required><br>
			First Name<BR>
			<input type="text" name="FIRST_NAME" required value="Test" autofocus="autofocus"><br>
			Last Name<BR>
			<input type="text" name="LAST_NAME" required value="Name"><br>
			Email<BR>
			<input type="email" name="EMAIL" required value="abc@sheerid.com"><br>
			Birth Date<BR>
			<input type="date" name="BIRTH_DATE" required value="1990-01-01"><br>
			<div id='retirementDate' style='display:none'>
				Discharge/Retirement Date<span class='attention'>*</span><span class='disclaimer'>This date is required for all retirees and veterans</span><br>
				<input type="date" id='STATUS_START_DATE' name="STATUS_START_DATE">
			</div>
			<input type="hidden" name="source" value="military">
			<div class='disclaimer'>
				By clicking "Submit," you consent to the use of your information for verification purposes. Your information may be transferred to the United States and will be treated according to SheerIDs <a href="http://www.sheerid.com/privacy-policy/">privacy policy</a>.
			</div><P>
			<div id='erroroutput'></div> 
			<input type="submit" value="SUBMIT">
			<div class="poweredby">
				Verification services powered by<BR>
				<img src="{{ url_for('static',filename='assets/sheerid-logo.png') }}" />
			</div>
		</FORM>

	</div>
{% endblock %}
{% block script %}
<script src="https://services-sandbox.sheerid.com/jsapi/SheerID.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script>
    SheerID.load('combobox', '2.0', {
        config: {
            input: document.getElementById('myOrgId'),
            allowName: false,
            proxyName: "organizationName",
            params: {
                type: ['MILITARY'],
                includeLocation: true
            }
        }
    });
</script>
<script>
	var dischargeDiv = document.querySelector('#retirementDate');
	var dischargeInput = document.querySelector('#STATUS_START_DATE');
    var radios = document.querySelectorAll("input[type=radio]");
    var prev=null;
    for (var i=0;i<radios.length;i++){
    	radios[i].onclick=function(){
    		if(this !== prev){
    			prev=this;
    		}
    		if (this.value==="VETERAN" || this.value==="MILITARY_RETIREE"){
    			dischargeDiv.style.display='block';
    			dischargeInput.setAttribute("required","required");
    		} else {
    			dischargeDiv.style.display='none';
    			dischargeInput.removeAttribute("required");
    		}
    	};
    }
    document.getElementById('erroroutput').innerHTML=test;
</script>
{% endblock %}