{% extends 'partials/common.html' %}
{% block body %}
	<div class='pagetitle'>
		<H2>Student Document Upload</H2>
	</div>
	<div class='inputform'>
		<form id="upload" action="https://services-sandbox.sheerid.com/rest/0.5/asset" method="POST" enctype="multipart/form-data">
			Please upload a scan of one of the following so we can verify your enrollment at your university. The document should be dated within the last 4 months.<P>
			<B>Important - the documentation must display:<B><BR>
    		<UL>
    			<LI>Your full name <span class='nonbreaking'>(<span class='username'>{{ username }}</span>)</span></LI>
    			<LI>The full name of the college/university you are currently attending <span class='nonbreaking'>(<span class='organization'>{{ school }}</span>)</span></LI>
    		</UL>
    		<I>Examples of Acceptable Documentation:</I><BR>
    		<UL>
    			<LI>School Certificate</LI>
    			<LI>Student ID Card Scan</LI>
    			<LI>Transcript</LI>
    			<LI>Registration/Tuition Receipt</LI>
    		</UL>
    		Acceptable formats are: .bmp, .gif, .jpg, .png, or .pdf.</p>
    		<p>
    		<input type="hidden" name="token" value="{{ submitToken }}">
	  		<input type="file" name="hidden-file-upload" id="hidden-file-upload" required>
			<input type="hidden" name="success" value="http://shastaoutdoor.herokuapp.com/uploadsuccess?updateRequest={{ requestId }}">
	   		<input type="hidden" name="failure" value="http://shastaoutdoor.herokuapp.com/student/uploadsuccess?requestId={{ requestId }}">
    		<input type="submit" name="submit" value="Upload Document">
			<div class='disclaimer'>
				NOTE: If your document scan is too fuzzy to read, does not show your full and legal name or shows a name different from the one you are verifying this offer under, you will not be able to finalize the verification process. Please do not include any confidential information on the uploaded documents, such as social security numbers or banking details. Please be sure any sensitive information is blacked out before you upload your document.</p>
			</div> 
			<div class="poweredby">
				Verification services powered by<BR>
				<img src="{{ url_for('static',filename='assets/sheerid-logo.png') }}" />
			</div>
		</FORM>

	</div>
{% endblock %}