{% extends 'partials/common.html' %}
{% block body %}
	<div class='pagetitle'>
		<H2>Free Lift Ticket Offer for Qualifying Customers</H2>
	</div>
	<div class='error-container'></div>
	<div style='width: 50%;margin-left: 25%;margin-bottom: 30px;'>
		<div class='disclaimer'>
			Qualifying customers receive one ski lift coupon redeemable at participating Northern California ski resorts per season. Customers who qualify in multiple categories will receive only one coupon. Make sure to come in to Shasta Outdoor to get equpped for your trip!
		</div>
	</div>
	<div class='grid-buttons'>
		<div class='menuAd'><br><a href='/student/verify' class='link-button'>STUDENT</a><br><br></div>
		<div class='menuAd'><br><a href='/teacher/verify' class='link-button'>TEACHER</a><br><br></div>
		<div class='menuAd'><br><a href='/military/verify' class='link-button'>MILITARY</a><br><br></div>
		<div class='menuAd'><br><a href='/firstresponder/verify' class='link-button'>FIRST RESPONDER</a><br><br></div>
	</div>		
{% endblock %}
{% block script %}

{% endblock %}
